
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    // this is what define what 1 rem is.
    font-size: 62.5%;

    

   

    @include respond(tab-land) {
      font-size: 56.25%;

    }

    @include respond (tab-port) {
      font-size: 50%;

    }

    @include respond(bid-desktop) {
      font-size: 75%;
    }


  }
  
  body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    
    
    @include respond (tab-port) {
      padding: 0;
    }
  }